<?xml version="1.0" encoding="UTF-8"?>

<!--
 * Copyright (c) 2013-2016 by appPlant UG. All rights reserved.
 *
 * @APPPLANT_LICENSE_HEADER_START@
 *
 * This file contains Original Code and/or Modifications of Original Code
 * as defined in and that are subject to the Apache License
 * Version 2.0 (the 'License'). You may not use this file except in
 * compliance with the License. Please obtain a copy of the License at
 * http://opensource.org/licenses/Apache-2.0/ and read it before using this
 * file.
 *
 * The Original Code and all software distributed under the License are
 * distributed on an 'AS IS' basis, WITHOUT WARRANTY OF ANY KIND, EITHER
 * EXPRESS OR IMPLIED, AND APPLE HEREBY DISCLAIMS ALL SUCH WARRANTIES,
 * INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT.
 * Please see the License for the specific language governing rights and
 * limitations under the License.
 *
 * @APPPLANT_LICENSE_HEADER_END@
-->

<plugin id="com.ezeeworld.b4s.sdk"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        version="1.2.0">

    <name>Neerby SDK Plugin</name>
    <description>Neerby SDK integration for Cordova</description>
    <keywords>B4S Neerby</keywords>
    <repo>https://github.com/kris92/B4S-Cordova-Plugin.git</repo>
    <license>Apache 2.0</license>
    <author>Ezeeworld</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.6.0" />
    </engines>

    <!-- plugin.xml -->

    <dependency id="cordova-plugin-app-event" url="https://github.com/katzer/cordova-plugin-app-event.git"  />
    <preference name="NEERBY_APP_ID" default="SET_YOUR_OWN_APPID" />
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="B4SSDK">
                <param name="ios-package" value="B4SSDK" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- The app is able to run in background through networkd fetch mode -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
            </array>
        </config-file>

        <header-file src="src/ios/B4SSDK.h" />
        <source-file src="src/ios/B4SSDK.m" />

        <framework src="libsqlite3.tbd" />
        <resource-file src="src/ios/BeaconForStoreStorage.bundle" />
        <framework src="src/ios/BeaconForStoreSDK.framework" custom="true" />

        <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="This mode is requested to enable Neerby iBeacon detection." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NeerbyAppID">
            <string>$NEERBY_APP_ID</string>
        </config-file>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="../../config.xml" parent="/widget">
            <platform name="android">
                <hook type="after_plugin_add" src="/platforms/android/scripts/android_app_name.js" />
            </platform>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="NEERBY_APP_ID" android:value="$NEERBY_APP_ID" />
        </config-file>

        <source-file src="src/android/NeerbyApp.java" target-dir="src/com/ezeeworld/neerby" />
        <source-file src="scripts/android_app_name.js" target-dir="scripts" />
        <lib-file src="src/android/libs/b4s-android-sdk-playservices921.aar" target-dir="libs" />
        <lib-file src="src/android/libs/b4s-android-sdk.aar" target-dir="libs" />

        <framework src="src/android/b4s.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
